  
body{
    background-color: #f0f8ff;
}

h1{
    color: red;
    text-align: center;
  }
  .internal{
    font-size: 20px;
    color: purple;
  }

h2{
text-align: center;
font-size: 28px;
color: magenta;
}

p{
font-size: 18px;
color: darkgreen;
}

